@charset "UTF-8";

@media screen and (min-width: 992px){
    
    
    html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
    background-image: url(../assets/read_news.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    }

    header{
        width: 50vw;
        height: 40vh;
    }

    main{
        position: relative;
        top: 0;
        z-index: 0;
        width: 50vw;
        height: 60vh;
        background-color: var(--body-bg-color);
    }
    
div{
    width: 50vw;
    background-color: var(--body-bg-color);
    
    
}

section{
    height: 100%;
}

.logo{
    margin: 0px;
    position: relative;
    top: 0;
    left: 0;
    height: 40vh;
}

#logoimg{
    width: 45vw;
    margin: 75px 20px;
}


.content{
    position: relative;
    top: 0;
    left: 0;
    margin: 0px;
    height: 300px;
    padding-left: 35px;
}

.formDiv{
    margin: 0px;
    padding-left: 35px;
}

#bar{
    height: 50px;
}

#iemail{
    width: 60vw;
    height: 50px;
}

button{
    width: 50px;
    height: 50px;
    position: relative;
    left: 60vw;
    top: -60px;
}

a{
    position: relative;
    top: 14px;
}

#seta{
    position: relative;
    top: 22px;
}

}