@media screen and (min-width: 768px) and (max-width: 992px){

    html, body{
        width: 95vw;
        height: 90vh;
        background-color: var(--body-bg-color);
    }


    .logo, .content, .formDiv{
        margin-left: 20px;
    }

    #bar{
        height: 40px;
    }
    
    #iemail{
        width: 60vw;
        height: 40px;
    }

    button{
        width: 40px;
        height: 40px;

        position: relative;
        top: 5px;
        left: -4px;
    }

    a{
        position:relative;
        top: 0px;
    }    

    #seta{
        position: relative;
        top: 8px;
    }

}