@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        width: 95vw;
        height: 94vh;
        background-color: var(--body-bg-color);
    }
    
    #iemail{
        width: 60vw;
    }
}