@media screen and (min-width: 768px) and (max-width: 992px){

    body{
        width: 95vw;
        height: 90vh;
        background-color: var(--body-bg-color);
    }


    .logo, .content, .formDiv{
        margin-left: 20px;
    }
    
    #iemail{
        width: 60vw;
    }
}